<component name="ArtifactManager">
  <artifact type="war" name="spring-profiles-with-spring-mvc-java-config:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-profiles-with-spring-mvc-java-config</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-profiles-with-spring-mvc-java-config-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-profiles-with-spring-mvc-java-config:war exploded" />
    </root>
  </artifact>
</component>