*{margin: 0; padding: 0; outline: 0}

body{
	font-family: arial;
	font-size: 18px;
	color: #444;
	line-height: 25px;
	width: 100%;
	height: 100%;

}

.header{

}

.content{
	background: #f0f0f0;
	margin: 0;
	width: 100%;
	height: 100%;


}
.left-menu-section{
	background: #f0f0e0;
	border: 1px solid #ddd;
	text-align: left;
	padding: 5px 10px;
}

.right-body-section{

	border: 1px solid #ddd;
	padding: 5px 10px;
}

.display-block{

	display: inline-block;

}

.left-menu {
	float: left;
	list-style: none;
	padding-top: 20px;
}

.left-menu ul li {
	display: block;
	position: relative;
}

.left-menu ul li:hover {
	display: block;
	position: relative;
}

.left-menu ul li ul {
	display: none;
}

.left-menu ul li a {
	display: inline;
	padding-left: 6px;
	white-space: nowrap;
}

.left-menu ul li:hover ul {
	display: block;
	position: relative;
}

.left-menu ul li:hover li {
	float: none;
}