<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 th:text="${'Hello from '+msg}"></h1>
<h2 th:text="${msg2}"></h2>
</body>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</html>